# SQL Walkthrough Using Spotify Data

### The Data
The data is coming from Yamac Eren Ay on Kaggle: 
https://www.kaggle.com/yamaerenay/spotify-dataset-19212020-160k-tracks

The data_by_artist_o, data_by_genres_o, and data_by_year_o are all derived from the data_o file, therefore we don't need to load it into our database. 

Additionally, the artists and data_by_artists_o files are redundant, so we can combine them together. 

There's one more thing that must be done before this data can be added to a database. The artists and data_by_artist_o files have a column for genres that includes lists. Similarly, the tracks file has an artists column that includes lists. Relational databases don't work well with lists, instead these should be expanded out to form their own many-to-many relationship tables. 

It should also be noted that to help reduce size for ease of loading into the Postgres database, I deleted any artist with less than 5000 followers from the artists file. Additionally, I deleted any track from before 2011 as well as any track with a popularity less than 50 from the tracks file.

In [ ]:
import pandas as pd
import os

In [ ]:
directory = os.getcwd()

artists_f = os.path.join(directory, 'spotify_csv', 'artists.csv')
data_by_artist_o_f = os.path.join(directory, 'spotify_csv', 'data_by_artist_o.csv')
tracks_f = os.path.join(directory, 'spotify_csv', 'tracks.csv')

# eval tells pandas to read the column as it's corresponding dtype in python instead of a string
artists = pd.read_csv(artists_f, converters={'genres': eval})
data_by_artists = pd.read_csv(data_by_artist_o_f, converters={'genres': eval, 'release_date':eval})
tracks = pd.read_csv(tracks_f, converters={'artists': eval})

In [ ]:
artists.head(2)

In [ ]:
data_by_artists.head(2)

In [ ]:
# Combine the artists and data_by_artists files on the artist name, and remove duplicate columns
# The popularity in data_by_artists is the average popularity of that artist's songs
data_by_artists.rename(columns={'popularity': 'avg_popularity'}, inplace=True)  
data_by_artists.drop(columns = 'genres', inplace=True)
artists_full = pd.merge(left=artists, right=data_by_artists, left_on='name', right_on='artists')
artists_full.drop(columns = 'name', inplace=True)

In [ ]:
artists_full.head(2)

In [ ]:
# You can see we are now only down to 15459 artists because we did an inner join
print(artists.shape, data_by_artists.shape, artists_full.shape)

In [ ]:
# Create the artist_genre many-to-many table
artist_genre = artists_full[['genres', 'artists']]
artists_full.drop(columns='genres', inplace=True)

In [ ]:
artist_genre.head()

In [ ]:
# Expand out the genre lists
artist_genre = artist_genre.explode('genres')

In [ ]:
artist_genre.head()

In [ ]:
tracks.head()

In [ ]:
# Now we can create the artist_track many-to-many table
artist_track = tracks[['name', 'artists']]
artist_track = artist_track.explode('artists')

In [ ]:
tracks.drop(columns = ['artists', 'id_artists'], inplace=True)

In [ ]:
tracks.head()

In [ ]:
tracks['release_date'] = pd.to_datetime(tracks['release_date'])

In [ ]:
# Convert DataFrames to csv to load into the Postgres Database 
artists_full.to_csv('spotify_csv\\artists_full.csv', sep=',', encoding='utf-8', index=False)
artist_genre.to_csv('spotify_csv\\artist_genre.csv', sep=',', encoding='utf-8', index=False)
tracks.to_csv('spotify_csv\\tracks.csv', sep=',', encoding='utf-8', index=False)
artist_track.to_csv('spotify_csv\\artist_track.csv', sep=',', encoding='utf-8', index=False)

Now that you have the csv files you will be able to import them into your tables as soon as you have created them. You can do this by right clicking on the table name and go to import/export. Select import at the top, select the filename, format, encoding, whether it has a header, and which columns you want to import.

### pgAdmin
pgAdmin can be used to make and view your database. Under Schemas, you can find the tables in a database which show all of their information, including the columns and constraints.

### CREATE, DROP, and BACKUP DATABASE
- To create a new database in postgres you can use pgAdmin. Go to Object, Create, and Database. 

- To drop a databse in pgAdmin, right click on the database and select Delete/Drop. 

- If you need to backup a database, then right click on it and select Backup.

### Connecting to the Database

To start, you'll want to download
    - ipython-sql - to get the %sql and %%sql magic commands
    - sqlalchemy - which is a python SQL toolkit
    - Psycopg2 - communicates your SQL statements to your postgres database 
    
Next, load the ipython-sql extension and use the magic command to connect to the Postgres database
    - The database URL for sqlalchemy is: dialect+driver://username:password@host:port/database

In [ ]:
%load_ext sql

# Load the spotify database on localhost 
%sql postgresql://postgres:(password)@localhost:5432/spotify
        
# To hide connection from outputs
%config SqlMagic.displaycon=False

## Now We're Ready to Begin

### CREATE TABLE Statement
Used to create a new table in a database.
- The table has a tablename, columns, and table constraints. 
- Each column has a column name, a data type, and a column constraint.
- The data type is what values a column can hold like - INT, FLOAT, DATE, VARCHAR(max lenght), TEXT, etc

#### Constraints
These can be specified when the table is made or altered
- NOT NULL - Ensures that a column cannot have a NULL value.
- UNIQUE - Ensures that all values in the column are different. 
- PRIMARY KEY - A combination of NOT NULL and UNIQUE. A table can only have one primary key, which can be made of multiple fields (composite key). 
- FOREIGN KEY - Uniquely identifies a row in another table, thus links two tables together. A table can have multiple foreign keys. 
    - ON DELETE SET NULL - If something is deleted, the foreign key associated will be set to null.
    - ON DELETE CASCADE - if we delete something the primary key rows associated will be deleted. 
- CHECK - Ensures that all values in a column satisfy a boolean expression condition. 
- DEFAULT - Sets a default value for a column when no value is specified. 
- INDEX - Used to create and retrieve data from the database very quickly. 
- AUTO_INCREMENT - Allows a unique number to be generated automatically when a new record is inserted into a table.

In [ ]:
%%sql

CREATE TABLE artist_year (
    artists TEXT NOT NULL UNIQUE,
    year DATE CHECK (year > '12-31-2010'),
    popularity FLOAT DEFAULT 0,
    PRIMARY KEY(artists, year),
    FOREIGN KEY(artists) REFERENCES artists(artists) ON DELETE CASCADE,
    FOREIGN KEY(year) REFERENCES years(year) ON DELETE SET NULL
);
-- This is an example, it wont work because artists.artists does allow duplicates, and years.year is INT not DATE.

### DROP TABLE Statement
Used to drop an existing table. Be careful with this. 
- Alternatively, TRUNCATE TABLE tablename;  - To delete the info in the table.

In [7]:
%%sql
DROP TABLE artist_year;

Done.

[]

###  ALTER TABLE Statement
Used to add, delete, or modify columns in an existing table.
- Also used to add and drop various constraints on an existing table. 
- Here are some examples:

In [ ]:
ALTER TABLE artist_year
ADD COLUMN songs_released TEXT;

ALTER TABLE artist_year
DROP COLUMN songs_released;

ALTER TABLE artist_year
MODIFY COLUMN songs_released INT;

ALTER TABLE artist_year
CHANGE songs_released num_songs_released INT;

ALTER TABLE artist_year
ADD FOREIGN KEY (num_songs_released)
REFERENCES artists(count)
ON DELETE SET NULL;

## Querying the Database to Select Information from a Single Table

### SELECT & LIMIT
To look at one or more columns from a table. Use * to represent all of the columns.

- The LIMIT command will determine how many entries are shown, which is important for large datasets
- Leave it out if you want to see all of the entries

In [ ]:
%%sql
SELECT artists, followers
FROM artists
LIMIT 5

In [ ]:
%sql SELECT * FROM artists LIMIT 5

### Comments
SQL comments are used if you ever need to explain a SQL statement, or to prevent execution of a statement
- -- Single line comments, anything from it to the end of the line will be ignored
- /* multi line comments */ can be used to comment out multiple lines or part of a line

In [ ]:
%%sql
SELECT followers, artists, popularity -- Selecting these three columns
FROM artists
/* WHERE followers > 1000000
ORDER BY followers DESC */ 
LIMIT 5

### WHERE
Used to select records that fulfill some condition 
- Uses =, >, <, >=, <=, <>, IN, BETWEEN, LIKE
- Can be combined with AND, OR, and NOT operators, which can be combined: WHERE NOT, AND NOT, OR NOT

In [ ]:
%%sql
SELECT *
FROM artists
WHERE followers > 10000000 AND popularity >= 90
LIMIT 10;

- The IN operator allows you to specify multiple values in the WHERE clause. 
- The BETWEEN operator allows you to select values within a given range. Values can be numbers, text, or dates.

In [ ]:
%%sql 
SELECT *
FROM artist_genre
WHERE artists IN ('Drake', 'Taylor Swift', 'Ed Sheeran');

In [ ]:
%%sql
SELECT *
FROM tracks
WHERE release_date BETWEEN '01-01-2013' AND '01-01-2014'
LIMIT 10;

- The LIKE operator allows you to search for a specified pattern in a column by using wildcards. 
- Wildcards are used to substitute one or more characters in a string. 
- Two wildcards are often used and can be used in combination.
- %  Represents zero, one, or multiple characters.
- _  Represents a single character.

In [ ]:
%%sql
SELECT *
FROM artists
WHERE artists LIKE 'Lil%'
LIMIT 10;

### ORDER BY
Allows for sorting the results by a specified column
- Sort by ascending (default) - ASC, and descending - DESC
- Can order by multiple columns if there are two results with the same value

In [ ]:
%%sql
SELECT *
FROM artists
WHERE key = 10
ORDER BY followers DESC, popularity DESC
LIMIT 10;

### Aggregate Functions
Can be used on a column in a table to perform some additional computation and return a single value.
- MIN()  Returns the smallest value of the selected column.
- MAX()  Returns the largest value of the selected column.
- COUNT()  Returns the number of rows that matches a specified criteria - NULL not counted. 
- AVG()  Returns the average value of a numeric column - NULL values ignored.
- SUM()  Returns the total sum of a numeric column - NULL values ignored.

In [ ]:
%%sql 
SELECT MIN(popularity) AS Min_Popularity, MAX(popularity) AS Max_Popularity, 
    COUNT(artists) AS Number_of_Artists, AVG(followers) AS Average_Followers, SUM(followers) AS Total_Followers
FROM artists;  -- Sum is not applicable here since the same spotify account could be following multiple artists

We could use aggregate functions to compare the average danceability, loudness, and tempo for all artists vs artists with a popularity above 80. We can also use count to determine how many artists are in each category.

In [ ]:
%%sql
SELECT AVG(danceability) AS Average_Danceability, AVG(loudness) AS Averate_Loudness, 
    AVG(tempo) AS Average_Tempo, COUNT(artists) AS Number_of_Artists
FROM artists
WHERE popularity > 80;

In [ ]:
%%sql
SELECT AVG(danceability) AS Average_Danceability, AVG(loudness) AS Averate_Loudness, 
    AVG(tempo) AS Average_Tempo, COUNT(artists) AS Number_of_Artists
FROM artists;

### Aliases
Can be used to give a table or a column a temporary name. This can make them more readable, and only exists during that query. 
- To do this you write the column or table and then write AS new_name
- Can combine multiple columns using CONCAT(column, column2) AS new_name
- Can also add the table name in front of the column name to make them more clear when querying mult tables - table.column

In [ ]:
%%sql
SELECT COUNT(artists) AS Number_of_Artists
FROM artists AS Artist_Profile;

In [ ]:
%%sql
SELECT a.artists, a.popularity
FROM artists AS a
WHERE popularity > 85
LIMIT 10;

In [ ]:
%%sql
SELECT CONCAT(artists, ' ', genres) AS Artist_and_Genre
FROM artist_genre
LIMIT 10;  -- Not really applicable here, but it's an example

### GROUP BY
Groups rows that have the same values into summary rows, like average loudness per genre.
- It's often used with aggregate functions (MIN, MAX, COUNT, AVG, SUM) to group the result-set by one or more columns.

In [ ]:
%%sql
SELECT COUNT(artists), AVG(duration_ms), MAX(popularity), mode
FROM artists
GROUP BY mode;

### HAVING Clause 
Added because the WHERE keyword can not take aggregate functions

In [ ]:
%%sql
SELECT COUNT(artists), AVG(duration_ms), MAX(popularity), key
FROM artists
GROUP BY key
HAVING COUNT(artists) > 100
ORDER BY COUNT(artists) DESC
LIMIT 15;

## Querying Information from Multiple Tables and Combining the Results
Thus far we have only queried information from one table at a time. But there are multiple tables in a dataset, so how do we query information from multiple tables and combine the results?
- To start, you can use information from one table to search in another, using the same column.
- You can also combine rows and columns from two or more tables, based on a shared column.
- Last, you can combine the result-set of tables if they have the same number of columns, similar datatypes, and are in the same order.

### NESTED QUERIES
Uses the WHERE and IN with a query from one table in order to use that information to search the same column in another table.

In [ ]:
%%sql
SELECT artists, followers, popularity
FROM artists
WHERE artists IN (
    SELECT artists
    FROM artist_genre
    WHERE genres = 'pop'
)
ORDER BY followers DESC
LIMIT 15;

### JOIN Clause 
Used to combine rows from two or more tables, based on a shared column

- (INNER) JOIN - Returns records that have matching values in both tables.
- LEFT (OUTER) JOIN - Returns all records from the left table, and the matched records from the right table.
- RIGHT (OUTER) JOIN - Returns all records from the right table, and the matched records from the left table.
- FULL (OUTER) JOIN - Returns all records when there is a match in either left or right table.

In [ ]:
%%sql
SELECT artists.artists, artists.followers, artists.popularity, artist_genre.genres
FROM artists
JOIN artist_genre
ON artists.artists=artist_genre.artists
WHERE artists.artists IN ('Ed Sheeran', 'Taylor Swift', 'Justin Bieber')
LIMIT 10;

In [ ]:
%%sql
SELECT artists.artists, artists.followers, artist_genre.genres, artist_track.name
FROM ((artists
JOIN artist_genre ON artists.artists=artist_genre.artists)
      JOIN artist_track ON artists.artists=artist_track.artists)
WHERE artists.artists LIKE 'Ed Sheeran'
LIMIT 10;

In [ ]:
%%sql
SELECT genres.genres, genres.danceability, genres.duration_ms, artist_genre.artists
FROM genres
FULL JOIN artist_genre
ON genres.genres=artist_genre.genres
WHERE genres.popularity < 50 AND genres.tempo < 100
ORDER BY genres.genres ASC
LIMIT 15;

### UNION Operator
Used to combine the result-set of two or more SELECT statements.
- Must have the same number of columns and similar data types, and be in the same order.

In [ ]:
%%sql
SELECT genres AS genres_or_year, popularity, energy, loudness, speechiness, valence, key
FROM genres
WHERE key=10 OR popularity > 90
UNION
SELECT year, popularity, energy, loudness, speechiness, valence, key
FROM years
WHERE key=10 OR popularity > 60
ORDER BY genres_or_year ASC
LIMIT 15;