# SQL Walkthrough Using Spotify Data

To start, you'll want to download
    - ipython-sql - to get the %sql and %%sql magic commands
    - sqlalchemy - which is a python SQL toolkit
    - pymysql - which is a Python Database API Specification driver for MySQL
    
Next, load the ipython-sql extension and use the magic command to connect to the MySQL database
    - The database URL for sqlalchemy is: dialect+driver://username:password@host:port/database

In [1]:
%load_ext sql

# Load the spotify database on localhost 
%sql mysql+pymysql://root:(password)@localhost/spotify
        
# To hide connection from outputs
%config SqlMagic.displaycon=False

## Now We're Ready to Begin

What tables do we have in the database?

In [2]:
%sql SHOW TABLES;

5 rows affected.

[('artists',),
 ('data_by_artist',),
 ('data_by_genres',),
 ('data_by_year',),
 ('tracks',)]

### DESCRIBE 
We can use the DESCRIBE command to look at all of the column information for a table

In [3]:
%sql DESCRIBE artists

5 rows affected.

[('id', 'text', 'YES', '', None, ''),
 ('followers', 'int(11)', 'YES', '', None, ''),
 ('genres', 'text', 'YES', '', None, ''),
 ('name', 'text', 'YES', '', None, ''),
 ('popularity', 'int(11)', 'YES', '', None, '')]

- Field is the column name
- Type is the datatype
- Null says if an entry in that column can be missing
- Key tells if the column is a Primary Key or Foreign Key 
- Default is the default value if an entry is missing for that column
- Extra is additional information

### SELECT & LIMIT
To look at one or more columns from a table. Use * to represent all of the columns.

- The LIMIT command will determine how many entries are shown, which is important for large datasets
- Leave it out if you want to see all of the entries

In [4]:
%%sql
SELECT name, followers
FROM artists
LIMIT 5

5 rows affected.

[('Fady x Mina', 5000),
 ('Finesse', 5000),
 ('Rony Rex', 5000),
 ('Sound of Rum', 5000),
 ('The Tyets', 5000)]

In [5]:
%sql SELECT * FROM artists LIMIT 5

5 rows affected.

[('5d0bEn2xHaHZrXAnFDZaFL', 5000, "['arab electronic', 'progressive uplifting trance']", 'Fady x Mina', 33),
 ('0AUUGd16M55jGRXZNbsfj9', 5000, "['urbano espanol']", 'Finesse', 37),
 ('61AudJPWNuYbLelVjkocZ4', 5000, "['finnish edm']", 'Rony Rex', 32),
 ('2tMIEVvBiYzKRwA6KXnASQ', 5000, "['uk hip hop']", 'Sound of Rum', 14),
 ('6I63R76ouyFvUIwPggQxxT', 5000, "['indie catala', 'musica catalana', 'trap catala']", 'The Tyets', 43)]

### Comments
SQL comments are used if you ever need to explain a SQL statement, or to prevent execution of a statement
- -- Single line comments, anything from it to the end of the line will be ignored
- /* multi line comments */ Or can be used to comment out part of a line

In [6]:
%%sql
SELECT followers, name, popularity -- Selecting these three columns
FROM artists
/* WHERE followers > 1000000
ORDER BY followers DESC */ 
LIMIT 5

5 rows affected.

[(5000, 'Fady x Mina', 33),
 (5000, 'Finesse', 37),
 (5000, 'Rony Rex', 32),
 (5000, 'Sound of Rum', 14),
 (5000, 'The Tyets', 43)]

### WHERE
Used to select records that fulfill some condition 
- Uses =, >, <, >=, <=, <>, IN, BETWEEN, LIKE
- Can be combined with AND, OR, and NOT operators, which can be combined: WHERE NOT, AND NOT, OR NOT
- Regular expressions can also be used to search in text using REGEXP

In [7]:
%%sql
SELECT *
FROM artists
WHERE followers > 10000000 OR popularity >= 90 AND genres REGEXP 'rap|pop'
LIMIT 10

10 rows affected.

[('4fxd5Ee7UefO4CUXgwJ7IP', 946550, "['pop', 'r&b']", 'Giveon', 91),
 ('0EFisYRi20PTADoJrifHrz', 1917151, "['latin', 'reggaeton', 'trap latino']", 'Jhay Cortez', 90),
 ('6jGMq4yGs7aQzuGsMgVgZR', 2889175, "['brooklyn drill', 'melodic rap', 'nyc rap']", 'Lil Tjay', 91),
 ('2hlmm7s2ICUX0LVIhVFlZQ', 3071007, "['atl hip hop', 'melodic rap', 'rap', 'trap']", 'Gunna', 90),
 ('6AgTAQt8XS6jRWi4sX7w49', 3657199, "['chicago rap']", 'Polo G', 91),
 ('1mcTU81TzQhprhouKaTkpq', 4438013, "['puerto rican pop', 'trap latino']", 'Rauw Alejandro', 93),
 ('7iK8PXO48WeuP03g8YR51W', 5001808, "['trap latino']", 'Myke Towers', 95),
 ('50co4Is1HCEo8bhOyUWKpn', 6110874, "['atl hip hop', 'atl trap', 'gangster rap', 'hip hop', 'melodic rap', 'pop rap', 'rap', 'trap']", 'Young Thug', 91),
 ('5cj0lLjcoR7YOSnhnX0Po5', 6208117, "['dance pop', 'pop', 'pop rap']", 'Doja Cat', 91),
 ('4r63FhuTkUYltbVAg5TQnk', 6485079, "['north carolina hip hop', 'rap']", 'DaBaby', 93)]

- The IN operator allows you to specify multiple values in the WHERE clause. 
- The BETWEEN operator allows you to select values within a given range. Values can be numbers, text, or dates.

In [11]:
%%sql 
SELECT *
FROM artists
WHERE name IN ('Drake', 'Taylor Swift', 'Ed Sheeran')
AND popularity BETWEEN 70 AND 98

3 rows affected.

[('06HL4z0CvFAxyc27GXpf02', 38869193, "['pop', 'post-teen pop']", 'Taylor Swift', 98),
 ('3TVXtAsR1Inumwj472S9r4', 54416812, "['canadian hip hop', 'canadian pop', 'hip hop', 'pop rap', 'rap', 'toronto rap']", 'Drake', 98),
 ('6eUKZXaKkcviH0Ku9w2n3V', 78900234, "['pop', 'uk pop']", 'Ed Sheeran', 92)]

- The LIKE operator allows you to search for a specified pattern in a column by using wildcards. 
- Wildcards are used to substitute one or more characters in a string. 
- Two wildcards are often used and can be used in combination.
- %  Represents zero, one, or multiple characters.
- _  Represents a single character.

In [17]:
%%sql
SELECT *
FROM artists
WHERE name LIKE 'Lil%'
LIMIT 10;

10 rows affected.

[('17SUtl275ibg2bA3c31cVj', 5037, '[]', 'LIL LO', 38),
 ('4xZB8N5b1JO61H5IAuR1g0', 5079, "['bulgarian pop', 'bulgarian rock', 'classic bulgarian pop']", 'Lili Ivanova', 27),
 ('6yhjowlmZr6QzRMDy0pJvv', 5097, "['dirty texas rap']", "Lil' Flex", 32),
 ('4E9dumwOMLlTyXUp1i2WdI', 5206, "['viral trap']", 'Lil Haiti', 36),
 ('0CpniWyfHUbg8BJ68UPVNJ', 5283, '[]', 'LIL GAZ', 49),
 ('5hVV0twgWKJBVWmcuVoka0', 5392, "['classic opm']", 'Lilet', 31),
 ('5TKKPpY9zr2qrz3JM3Vawq', 5428, "['disney']", 'Lillias White', 61),
 ('7kPAbi4CqZmh9YUKVyMsGe', 5499, '[]', 'Lil Drako', 46),
 ('2J3bi3bkISc9ZBXWCFrYjH', 5565, '[]', "Lil' Ron Ron", 12),
 ('7d8lhF0AdjPSteox8E33dg', 5649, '[]', 'Lil Kate', 33)]

### ORDER BY
Allows for sorting the results by a specified column
- Sort by ascending (default) - ASC, and descending - DESC
- Can order by multiple columns if there are two results with the same value

In [8]:
%%sql
SELECT *
FROM artists
WHERE genres REGEXP 'pop'
ORDER BY followers DESC, popularity DESC
LIMIT 10

10 rows affected.

[('6eUKZXaKkcviH0Ku9w2n3V', 78900234, "['pop', 'uk pop']", 'Ed Sheeran', 92),
 ('66CXWjxzNUsdJxJ2JdwvnR', 61301006, "['pop', 'post-teen pop']", 'Ariana Grande', 95),
 ('3TVXtAsR1Inumwj472S9r4', 54416812, "['canadian hip hop', 'canadian pop', 'hip hop', 'pop rap', 'rap', 'toronto rap']", 'Drake', 98),
 ('1uNFoZAHBGtllmzznpCI3s', 44606973, "['canadian pop', 'pop', 'post-teen pop']", 'Justin Bieber', 100),
 ('5pKCCKE2ajJHZ9KAiaK11H', 42244011, "['barbadian pop', 'dance pop', 'pop', 'post-teen pop', 'urban contemporary']", 'Rihanna', 92),
 ('6qqNVTkY8uBg9cP3Jd7DAH', 41792604, "['electropop', 'pop']", 'Billie Eilish', 92),
 ('06HL4z0CvFAxyc27GXpf02', 38869193, "['pop', 'post-teen pop']", 'Taylor Swift', 98),
 ('7n2wHs1TKAczGzO7Dd2rGr', 32419313, "['canadian pop', 'dance pop', 'pop', 'post-teen pop', 'viral pop']", 'Shawn Mendes', 89),
 ('3Nrfpe0tUJi4K4DXYWgMUX', 31623813, "['k-pop', 'k-pop boy group']", 'BTS', 96),
 ('1Xyo4u8uXC1ZmMpatF05PJ', 31308207, "['canadian contemporary r&b', 'canadian pop', 'pop']", 'The Weeknd', 96)]